<h1>Latest Recipes</h1>

<!-- Breadcrumb Start -->

<nav class="breadcrumb">
    <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/latest-recipes">Latest</a></li>
    </ol>
</nav>

<!-- Breadcrumb End -->

<!-- Latest Recipes start -->

<div class="grid">
    <% if (latest != "") { %> 
        <% latest.forEach(recipe => { %>
            <div class="grid-card">    
                <a href="/recipe/<%= recipe.id %>">
                    <img src="/assets/uploads/<%= recipe.image %>" alt="<%= recipe.name %>">
                    <h4><%= recipe.name %></h4>
                </a>
            </div>
        <% }) %>
    <% } else { %> 
        <h3>No items found.</h3>
    <% } %>    
</div>

<!-- latest recipes end -->