<h4 class="fs-xl p-bottom-1">Share your recipe with others</h4>

<!-- Form Submit Start -->

<% if (successObject) { %>
    <div><%= successObject %></div>
<% } %>
<% if (errorObject) { %>
    <div><%= errorObject %></div>
<% } %>

<form action="/submit-recipe" enctype="multipart/form-data" method="POST" class="recipe-form m-auto w-50 flex-column g-3">

    <div class="flex-column g-1">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>

    <div class="flex-column g-1">
        <label for="name">Recipe Name</label>
        <input type="text" name="name" id="name" required>
    </div>

    <div class="flex-column g-1">
        <label for="description">Recipe Description</label>
        <textarea name="description" id="description" cols="30" rows="3"></textarea>
    </div>

    <div class="flex-column g-1">
        <label>Recipe Ingredients</label>
        <small>Example: Meat</small>
        
        <div class="ingredientList flex-column g-1">
            <input type="text" name="ingredients">
        </div>

        <button class="w-50" type="button" id="btnAddIngredient">+Add Ingredient</button>
    </div>

    <div class="flex-column g-1">
        <label for="category">Select Category</label>
        <select name="category" id="categorySelect">
            <option selected>Select Category</option>
            <option value="American">American</option>
            <option value="Uzbek">Uzbek</option>
            <option value="Mexican">Mexican</option>
            <option value="Russian">Russian</option>
            <option value="Japanese">Japanese</option>
            <option value="Italian">Italian</option>
        </select>
    </div>

    <div class="flex-column g-1">
        <label for="image">Recipe Image</label>
        <input type="file" name="image" accept="image/*">
    </div>

    <div>
        <button class="w-100" type="submit">Share Recipe</button>
    </div>    
    
</form>

<!-- Form Submit End-->