* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    list-style-type: none;
}

body {
    padding: 0 100px;
    background-image: url("/assets/favicon/icon-bg.svg");
    background-color: #000000;
}

.main-wrapper {
    margin: auto;
    max-width: 1500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
}





/* navbar start */
header {
    padding: 20px 40px;
    width: 100%;
    /* background-color: red; */
}

.navbar {
    padding-bottom: 20px;
    font-weight: 700;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left a {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.logo-content {
    display: flex;
    flex-direction: column;
}

.logo-content > h4 {
    font-size: 20px;
}

.logo-content > span {
    font-size: 12px;
}

.navbar-center ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-right button {
    font-size: 16px;
    font-weight: 700;
    padding: 8px 12px;
    border: none;
    outline: none;
    background-color: rgb(22, 172, 22);
    cursor: pointer;
}
/* navbar end */



/* main start */
main {
    padding: 30px 50px;
}
/* main end */





/* banner start */
.banner-container {
    padding-bottom: 30px;
    /* background-color: green; */
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.banner-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner-right > img {
    width: 540px;
    object-fit: cover;
}

/* banner end */





/* Categories Start */

.categories-container {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    /* background-color: pink; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categories-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}

.categories-header a {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
}

.categories-content {
    display: flex;
    justify-content: space-between;
}

.categories-card {
    width: 160px;
    transition: 250ms all;
}

.categories-card-large {
    width: 200px;
}

.categories-card:hover,
.categories-card-large:hover {
    transform: scale(1.1);
}

.categories-card img {
    width: 100%;
    max-height: 280px;
    border-radius: 16px;
    object-fit: cover;
}

.categories-card h4 {
    text-align: center;
}

/* categories end */





/* Breadcrumb Start */


.breadcrumb {
    width: 100%;
    margin-bottom: 30px;
}

.breadcrumb ol {
    display: flex;
    gap: 10px;
}

.breadcrumb ol li::after {
    padding-left: 5px;
    content: "/";
}

.breadcrumb ol li a:hover {
    text-decoration: underline;
}




/* Breadcrumb End */



/* Categories Page Start */


.categories-page {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.categories-page-card {
    width: 220px;
    transition: 250ms all;
}

.categories-page-card:hover {
    transform: scale(1.1);
}

.categories-page-card img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.categories-page-card h4 {
    text-align: center;
}







/* Categories Page End*/




/* footer start */
footer {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}
/* footer end */

